<style>
  /* Style for the member table */
  .member-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .member-table th,
  .member-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .member-table th {
    background-color: #263043;
  }

  .member-table tr:nth-child(even) {
    background-color: #263043;
  }

  /* Style for the buttons */
  .edit-btn,
  .delete-btn {
    padding: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
  }
  .edit-btn {
    color: #4caf50;
  }
  .delete-btn {
    color: #f44336;
  }

  .edit-btn:hover {
    background-color: #fff;
    color: #4caf50;
  }

  .delete-btn:hover {
    background-color: #fff;
    color: #f44336;
  }

  .modal {
    display: none; /* Cache le modal par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Style for le contenu du modal */
  .modal-content {
    background-color: #263043;
    margin: auto; /* Pour centrer horizontalement */
    margin-top: 10vh; /* Pour centrer verticalement */
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
  }

  /* Style for le bouton de fermeture */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* Style pour le formulaire du modal */
  .modal-content form {
    display: flex;
    flex-direction: column; /* Permet le retour à la ligne des éléments flexibles */
  }

  /* Style pour les labels des inputs */
  .modal-content form label {
    width: 200px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  /* Style pour les inputs dans le formulaire du modal */
  .modal-content form input {
    width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
  }

  /* Style pour les inputs lorsqu'ils sont en focus */
  .modal-content form input:focus {
    outline: none;
    border-color: #0936f9;
  }
  /* Style pour les selects dans le formulaire du modal */
  .modal-content form select {
    width: 70%; /* Largeur fixe suffisamment grande */
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
  }

  /* Style pour les selects lorsqu'ils sont en focus */
  .modal-content form select:focus {
    outline: none;
    border-color: #0936f9;
  }

  /* Style pour les boutons du formulaire */
  .modal-content form button[type="submit"] {
    margin: 15px auto; /* Centre le bouton horizontalement */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .modal-content form .create-guest {
    background-color: #0936f9;
    color: #fff;
  }

  .modal-content form .create-guest:hover {
    background-color: #fff;
    color: #0936f9;
  }

  .modal-content form .edit-parking {
    background-color: #4caf50;
    color: #fff;
  }

  .modal-content form .edit-parking:hover {
    background-color: #fff;
    color: #4caf50;
  }
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .form-group {
    flex-basis: calc(50% - 10px);
  }

  /* Pour les petites résolutions, utilisez un affichage en colonne */
  @media (max-width: 768px) {
    .form-row {
      flex-direction: column;
    }

    .form-group {
      flex-basis: auto;
      margin-bottom: 10px;
    }
  }
</style>

<main>
  <div class="main-title">
    <h2>Session Parking</h2>
  </div>

  <!-- Modal -->
  <div id="editModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeEditModal()">&times;</span>
      <h2>Edit Parking</h2>
      <form id="editForm">
        <div class="form-row">
          <div class="form-group">
            <label for="editEstVide">Est Vide?:</label>
            <select id="editEstVide" name="editEstVide">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div class="form-group">
            <label for="editMatricule">Matricule:</label>
            <input type="text" id="editMatricule" name="editMatricule" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="editDateEntree">Date Entrée:</label>
            <input type="date" id="editDateEntree" name="editDateEntree" />
          </div>
        </div>

        <!-- Hidden input to store the index of the edited row -->
        <input type="hidden" id="editRowIndex" name="editRowIndex" />

        <button type="submit" class="edit-parking">Edit Parking</button>
      </form>
    </div>
  </div>

  <table class="member-table">
    <thead>
      <tr>
        <th>Place</th>
        <th>Est Vide?</th>
        <th>Matricule</th>
        <th>Date Entrée</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Example data -->
      <tr>
        <td>a</td>
        <td>oui</td>
        <td>----</td>
        <td>----</td>
        <td>
          <button class="edit-btn">
            <i class="fas fa-edit" onclick="openEditModal()"></i>
          </button>
          <button class="delete-btn"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
      <tr>
        <td>b</td>
        <td>non</td>
        <td>1234</td>
        <td>02/05/2024</td>
        <td>
          <button class="edit-btn">
            <i class="fas fa-edit" onclick="openEditModal()"></i>
          </button>
          <button class="delete-btn"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
      <tr>
        <td>c</td>
        <td>non</td>
        <td>5678</td>
        <td>02/05/2024</td>
        <td>
          <button class="edit-btn">
            <i class="fas fa-edit" onclick="openEditModal()"></i>
          </button>
          <button class="delete-btn"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
      <tr>
        <td>d</td>
        <td>oui</td>
        <td>----</td>
        <td>----</td>
        <td>
          <button class="edit-btn">
            <i class="fas fa-edit" onclick="openEditModal()"></i>
          </button>
          <button class="delete-btn"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
