<style>
  /* Style for the member table */
  .member-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .member-table th,
  .member-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .member-table th {
    background-color: #263043;
  }

  .member-table tr:nth-child(even) {
    background-color: #263043;
  }
</style>

<main>
  <div class="main-title">
    <h2>Tarifs</h2>
  </div>

  <table class="member-table">
    <thead>
      <tr>
        <th></th>
        <th>Par Mois (Membre)</th>
        <th>Par Jour (Invité)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Membre</td>
        <td>300dh</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Invité</td>
        <td>N/A</td>
        <td>30dh</td>
      </tr>
    </tbody>
  </table>
</main>
